<template>
  <v-col
    cols="8"
    offset="2"
    align-self="center">
    <v-card>
      <v-card-title>{{ `Currently in ${getters.selectedLocationName()}` }}</v-card-title>
      <v-card-text v-if="state.currentWeather">
        <v-container fluid>
          <v-row
            no-gutter
            align="center">
            <v-col
              cols="12"
              sm="7"
              class="d-flex align-center  pt-0">
              <img
                class="weather-icon"
                :src="`http://openweathermap.org/img/wn/${state.currentWeather.weather[0].icon}@2x.png`"
                :alt="state.currentWeather.weather[0].description">
                <div>
                  <h1>{{ state.currentWeather.weather[0].main }}</h1>
                  <p class="mb-0">{{ state.currentWeather.weather[0].description }}</p>
                </div>
            </v-col>
            <v-col
              cols="12"
              sm="5"
              class="text-sm-right pt-sm-0">
              <h2>
                Temp: {{ state.currentWeather.main.temp }}{{ getters.temperatureLabel() }}
              </h2>
              <p class="mb-0">
                Feels like: {{ state.currentWeather.main.feels_like }}{{ getters.temperatureLabel() }}
              </p>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              sm="4"
              md="4"
              class="current-weather-info">
              <p>
                Temp Min: {{ state.currentWeather.main.temp_min }}{{ getters.temperatureLabel() }}
              </p>
              <p>
                Temp Max: {{ state.currentWeather.main.temp_max }}{{ getters.temperatureLabel() }}
              </p>
              <p v-if="state.currentWeather.main.humidity">
                Humidity: {{ state.currentWeather.main.humidity }}%
              </p>
            </v-col>
            <v-col
              cols="12"
              sm="4"
              md="4"
              class="current-weather-info">
              <p>
                Clouds: {{ state.currentWeather.clouds.all }}%
              </p>
              <p>
                Pressure: {{ state.currentWeather.main.pressure || 0 }}hPa
              </p>
              <p>
                Visibility: {{ state.currentWeather.main.visibility || 0 }}%
              </p>
            </v-col>
            <v-col
              cols="12"
              sm="4"
              md="4"
              class="current-weather-info">
              <p v-if="state.currentWeather.wind.speed">
                Wind Speed: {{ state.currentWeather.wind.speed }}{{ getters.windLabel() }}
              </p>
              <p v-if="state.currentWeather.wind.deg">
                Wind Deg: {{ state.currentWeather.wind.deg }}&deg;
              </p>
              <p v-if="state.currentWeather.wind.gust">
                Wind Gust: {{ state.currentWeather.wind.gust }}{{ getters.windLabel() }}
              </p>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </v-col>
</template>

<script>
import * as store from '../services/store';

export default {
  name: 'Weather',

  setup() {
    const state = store.state;
    const getters = store.getters;
    const methods = store.methods;

    return { state, getters, methods };
  }
};
</script>

<style>
  .current-weather-info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .current-weather-info:last-child { border: none; }

  @media screen and (min-width: 600px) {
    .current-weather-info {
      border-bottom: none;
      text-align: center;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
</style>