<template>
  <v-col
    cols="12"
    sm="4"
    class="daily-forecast">
    <img :src="`http://openweathermap.org/img/wn/${icon}@2x.png`" alt="">
    <div class="daily-forecast--details">
      <p class="title">{{ date }}</p>
      <h3>{{ main }}</h3>
      <p>{{ description }}</p>
      <p>Temp: {{ temp }}</p>
    </div>
  </v-col>
</template>

<script>
export default {
  name: 'ForecastItem',

  props: {
    date: {
      type: String,
      required: true,
    },
    main: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    temp: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      required: true,
    },
  },
};
</script>

<style>
  .daily-forecast {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .daily-forecast:last-child { border: none; }

  @media screen and (min-width: 600px) {
    .daily-forecast {
      display: block;
      text-align: center;
      border-bottom: none;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
</style>