<template>
  <v-col
    cols="8"
    offset="2"
    align-self="center">
    <v-card>
      <v-card-title>{{ `Forecast for next ${state.forecastDays} days` }}</v-card-title>
      <v-card-text>
        <v-container>
          <v-row class="daily-forecasts">
            <ForecastItem
              v-for="item in getters.filteredForecast()"
              :key="`forecast-${item.dt}`"
              :date="methods.getFormattedDate(item.dt_txt)"
              :main="item.weather[0].main"
              :description="item.weather[0].description"
              :temp="`${item.main.temp}${ getters.temperatureLabel()}`"
              :icon="item.weather[0].icon">
            </ForecastItem>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </v-col>
</template>

<script>
import * as store from '../services/store';
import ForecastItem from './ForecastItem';

export default {
  name: 'Forecast',

  components: {
    ForecastItem,
  },

  setup() {
    const state = store.state;
    const getters = store.getters;
    const methods = store.methods;

    return { state, getters, methods };
  }
};
</script>

<style>
@media screen and (min-width: 600px) {
  .daily-forecast:nth-child(3) { border: none; }
}
.daily-forecasts { justify-content: center; }
</style>