<template>
  <v-navigation-drawer
    v-model="drawer"
    app
    dark
    :mobile-break-point="mobileBreakPoint">
    <v-container>
      <v-text-field
        id="search-location"
        label="Search by Location"
        v-model="searchFilter">
      </v-text-field>
    </v-container>
    <v-container>
      <v-slider
        label="Forecast"
        hint="Set forecast days to show. Min 1 Max 5. Default 3"
        :min="1"
        :max="state.MAX_FORECAST_DAYS"
        :value="state.forecastDays"
        thumb-label
        thumb-color="grey"
        @change="methods.setForecastDay($event)">
      </v-slider>
    </v-container>
    <v-container>
      <v-switch
        :input-value="state.isMetricSystem"
        class="mx-2"
        label="Metric Units"
        @change="methods.setTemperatureSystem($event)">
      </v-switch>
    </v-container>
    <v-list shaped>
      <v-subheader>LOCATIONS</v-subheader>
      <v-list-item-group v-model="state.selectedLocationId">
        <v-list-item
          v-for="location in getters.filteredLocations(searchFilter)"
          :key="`location-${location.id}`"
          @click="methods.setLocation(location.id)">
          <v-list-item-content>
            <v-list-item-title v-text="location.name"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import * as store from '../services/store';
import { ref } from '@vue/composition-api';

export default {
  name: 'Navigation',

  props: {
    drawer: {
      type: Boolean,
      default: true
    },
    mobileBreakPoint: {
      type: Number,
      default: 960
    },
  },

  setup() {
    const state = store.state;
    const getters = store.getters;
    const methods = store.methods;

    const searchFilter = ref('');

    return { state, getters, methods, searchFilter };
  }
};
</script>

<style scoped>
  .v-navigation-drawer {
    z-index: 1 !important;
    padding-top: 70px;
  }

  .v-input--selection-controls {
    margin-top: 0;
    padding-top: 0;
  }
</style>