<template>
  <v-app>
    <v-app-bar
      app
      color="rgb(93, 150, 150)"
      clipped-left>
      <v-app-bar-nav-icon
        class="hidden-md-and-up"
        @click="methods.setDrawerStatus(!state.isDrawerOpen)">
      </v-app-bar-nav-icon>
      <h1 class="app-bar-nav--title display-1 font-weight-medium">Weather App</h1>
    </v-app-bar>
    <Navigation
      v-if="state.isDrawerOpen"
      :mobile-break-point="state.MOBILE_BREAKPOINT" />
    <v-content>
      <v-container fluid>
        <v-row v-if="Object.keys(state.currentWeather).length > 0">
          <CurrentWeather/>
          <Forecast v-if="state.forecast.length > 0" />
        </v-row>
        <v-row v-else>
          <v-col
            cols="2"
            offset="5"
            align-self="center"
            align-items="center">
            <DotLoader
              size="60px"
              color="rgb(93, 150, 150)" />
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import CurrentWeather from './components/CurrentWeather';
import Forecast from './components/Forecast';
import Navigation from './components/Navigation';
import DotLoader from 'vue-spinner/src/DotLoader.vue';
import * as store from './services/store';
import { onBeforeMount, onMounted } from '@vue/composition-api';

export default {
  name: 'App',

  components: {
    CurrentWeather,
    Navigation,
    Forecast,
    DotLoader
  },

  setup() {
    const state = store.state;
    const methods = store.methods;

  /**
   * Before the app component is moounted, retrieve the user location and set in the store.
   */
    onBeforeMount(() => {
      navigator.geolocation.getCurrentPosition((payload) => {
        store.methods.setUserCoordinates(payload.coords);
        methods.setLocation();
      });
    });

    onMounted(() => {
      methods.setDrawerStatus(window.innerWidth > state.MOBILE_BREAKPOINT);

      window.addEventListener('click', (e) => {
        const isClickOnOverlay = e.target.className.indexOf('v-overlay--active') > -1 || e.target.parentElement.className.indexOf('v-overlay--active') > -1;
        if(isClickOnOverlay) {
          methods.setDrawerStatus(false);
        }
      });
    });

    return { state, methods };
  },
};
</script>

<style>
.v-content { background-color: #FAFAFA; }
.app-bar-nav--title { color: #FFFFFF; }

@media screen and (min-width: 960px) {
  .hidden-md-and-up { display: none !important; }
}
</style>